<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <% if @card %>
      <%= simple_form_for(@card, url: review_card_path(@card), method: "post",
        html: { novalidate: false, class: 'form-vertical' }) do |f| %>
        <%= f.input :original_text, label: "Исходный текст", required: false,
        input_html: { readonly:"true" } %>
        <div class="form-group string optional card_translated_text">
          <label class="string optional control-label" for="card_translated_text">Перевод</label>
          <input class="string optional form-control" id="card_translated_text" name="card[translated_text]" type="text" required/>
        </div>
        <%= f.button :submit, "Проверить" %>
      <% end %>
    <% else %>
      <h3 class="center">Все карточки проверены</h3>
    <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>
